/* Основные цвета */
:root {
  --medical-red: #dc3545;
  --medical-light: #f8f9fa;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

/* Навигация */
.navbar {
  /* border-bottom: 3px solid white; */
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(224, 79, 57) !important;
  /* text-decoration: underline; */
}

/* Кнопки */
.btn-outline-light:hover {
  background-color: white;
  color: var(--medical-red) !important;
}

/* Активные элементы */
.active {
  font-weight: bold;
}

/* Иконки */
.bi {
  font-size: 1.2rem;
  vertical-align: middle;
}

/* Карточки */
.card {
  border: 1px solid rgba(220, 53, 69, 0.2);
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.1);
}

.card-header {
  background-color: rgba(220, 53, 69, 0.05);
  border-bottom: 1px solid rgba(220, 53, 69, 0.2);
}

/* Таблицы */
.table th {
  background-color: rgba(220, 53, 69, 0.05);
  /* color: var(--medical-red); */
}

.filter-section .form-group {
  margin-bottom: 1rem;
}

.filter-section .react-datepicker-wrapper {
  width: 100%;
}

/* Выравнивание меток */
.filter-section .form-label {
  display: block;
  margin-bottom: 0.3rem;
}

/* Подключение иконок Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");